header {
    background-color:cadetblue;
    padding: 30px;
}

.contenedor {
    background-color:white;
    margin: 0px;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 1px 1px gray;
}

body {
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo {
    height: 70px;
}

.button {
    border: 0px;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bolder;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.mainButton {
    background-color:aquamarine;
    color: white;
}

.mainButton:hover {
    box-shadow: 2px 2px green;
}


.secondaryButton {
    background-color:coral;
    color: white;
}

.secondaryButton:hover {
    box-shadow: 2px 2px orange;
}

.buscar {
    background-color: white;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 9px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar:focus-within {
    border: 1px solid rgb(68, 106, 212);
}

.buscar > input {
    border: 0px;
}

.iconoBuscar:hover {
    color: blue;
}

.contImagen {
    width: 240px;
    height: 350px;
    display: flex;
}

.contImagen > img {
    object-fit:cover;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.breedCardContainer {
    display: flex;
    justify-content: space-around;
}


.breedCard {
    margin: 10px;
    background-color: cadetblue;
    box-shadow: 5px 10px 5px gray;
    border-radius: 10px;
}

.breedCard:hover {
    cursor: pointer;
    transform: scale(1.02);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkred;
    color: white;
    padding: 10px;
}

.breedTitle {
    display: flex;
    color: white;
    margin: 10px;
    font-weight: bolder;
    font-size: x-large;
    justify-content: center;
}

.reactions {
    display: flex;
    justify-content: space-around;
    background-color: rgb(70, 157, 160);
    padding: 5px;
    border-radius: 10px;
}

.heartRed {
    color: red;
}

.heartRed:hover {
    cursor: pointer;
    transform: scale(1.25);
}

.comment {
    color: azure;
}

.comment:hover {
    cursor: pointer;
    transform: scale(1.25);
}

.views {
    color: azure;
}

.views:hover {
    cursor: pointer;
    transform: scale(1.25);
}